*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
body{
    background-color: #ffffff;
    color: #42446E;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.dark {
    background-color: #1c1c1e;
    color: #fff;
}



.navbar{
    top: 0;
    align-items: center;
    text-align: justify;
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    padding: 3px;
    margin: 0;
    width: 100%;
    position: fixed;
    /* position: sticky; */
    border: 1px solid rgba(255, 255, 255, 0.02);
}

.btn-back{
    border: none;
    color: #42446E;
    padding: 10px 32px;
    font-size: 16px;
    margin-right: 25px;
    cursor: pointer;
}

.btn-back a{
    text-decoration: none;
    color: #42446E;
}


.container-main{
    padding: 20px;
    width: 100%;
}

.blog-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.my-blog{
    text-align: left;
    border: 20px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    width: 500px;
    height: 450px;
    padding: 20px 30px 20px 30px;
}

.img-blog{
    float: left;
    object-fit: cover;
    display: block;
    margin: 10px 20px 10px 10px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 130px;
    height: 140px;
}

.btn-more{
    border: none;
    border-radius: 15px;
    color: #42446E;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
    padding: 10px 32px;
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 25px;
    cursor: pointer;
}

.btn-more a{
    text-decoration: none;
    color: inherit;
}

.btn-more:hover{
    background-color: #42446E;
    color: #ffffff;
    transition: all 0.6s;
}

@media only screen and ( max-width : 476px){
    .container-main{
        width: 100%;
        padding: 0;
        margin-top: 40px;
    }

    .my-blog{
        width: 100%;
        width: 300px;
        height: 360px;
        font-size: 12px;
        margin: 50px 0 0 0;
    }

    .btn-more{
        font-size: 12px;
        padding: 10px 20px;
    }
}